    @media screen and (min-width: 300px){
            .container{
                width: 100%;
                height: auto;
                padding: 20%;

            }
           .row{
            width: 500px;
            margin: auto;
            display: flex;
            justify-content: center;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

            .col1{
                width: auto;
            }
    }

    body{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: #007fff;
        }
        .container{
            margin-top: 5%;
            padding: 30px;
            width: 100%;
            height: auto;
        }

        .row{
            width: 60%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .col1{
            display: flex;
            background-color:#ff3d00;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        .col2{
            flex: 1;
            padding: 20px;
            flex-direction: column;
            justify-content: center;
            background-color: #ffff;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        .col1-text{
        	color: white;
        }

        h2.title{
            text-align: center;
            font-weight: bolder;
        }
        .form-group{
            align-self: center;
            margin-bottom: 15px;
        }
       textarea.form-control{
            width: 400px;
            resize: none;
        }
        select.form-control{
            width: 50px;
            height: 30px;
        }
        input.btn{
            max-width: 500px;
            min-width: 150px;
            margin-inline: 17px;
            padding: 5px;
            border: 0;
            background-color: #dd0531;
            color:white;
            cursor: pointer;
            border-radius: 5px;
            font-weight: bold;